$colors: (
  "bg-primary": #10151c,
  "bg-secondary": #fff,
  "bg-steps": #141a25,
  "bg-footer": #f9f9fb,
  "bg-button": #a80046,
  "primary": #fff,
  "secondary": #ff006a,
  "additional": #7e8597,
  "dark-gray": #1a1a1a,
  "gradient": linear-gradient(180deg, #432371 0%, #faae7b 100%),
);

$fsize-h2: 2rem;
$fsize-h3: 1.5rem;
// 12 14 16 18 24 32

@function get-color($color) {
  @return map-get($colors, $color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.skip-link {
  display: block;
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 0.5rem 1rem;
  transform: translateY(-150%);
  background-color: get-color("bg-button");
  color: #fff;
  &:focus {
    transform: translateY(0);
  }
  &:hover {
    background-color: #7e8597;
  }
}

.stop-scrolling {
  overflow: hidden;
}
